<template>
  <NavigationDrawerVue :miniVariant="miniVariant" :drawer="drawer"></NavigationDrawerVue>
</template>

<script>

import NavigationDrawerVue from '@/features/navigation/sidebar/components/NavigationDrawer.vue';
import { mapGetters } from 'vuex';

export default {
  components:{
    NavigationDrawerVue,
  },
  computed: {
     ...mapGetters({
       miniVariant: 'nav/miniVariant',
       drawer: 'nav/drawer',
    }),
  }
}
</script>

<style>

</style>
