<template>
  <div>
    <v-container fluid>
      <v-layout row>
        <v-flex offset-xs3 xs6>
          <div class="shadow">
          <v-tabs grow dark class="shadow" color="blue-grey darken-4">
          <v-tab v-for="tab in tabs" :key="tab.name" :to="tab.route">
            {{ tab.name }}
          </v-tab>
        </v-tabs>
      
        <transition mode="out-in">
          <div class="content-container">
            <router-view></router-view>      
          </div>
        </transition>
        </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  mounted: function () {
    this.$store.dispatch('nav/changePageTitle', 'Profile');
  },
  data: function () {
    return {
      tabs: [
        {name: 'Profile', route: '/profile'},
        // {name: 'Friends List', route: 'profile/friends'},
        {name: 'Settings', route: '/profile/settings'},
      ],
    }
  },
}
</script>

<style scoped>
  .content-container{
    padding: 2rem;
    background: white;
    /* border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black; */
  }

  .shadow {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
</style>
