<template>
  <div>
    <v-container fluid grid-list-xl>
      <BrowseContainerVue></BrowseContainerVue>
    </v-container>
  </div>
</template>

<script>

import BrowseContainerVue from '@/features/prints/components/browse/BrowseContainer.vue';

export default {
  components: {
    BrowseContainerVue,
  },
}
</script>

<style scoped>

</style>
