<template>
  <div>
    <v-container fluid pl-5 pr-5>
      <PrintContainerVue :print="print"></PrintContainerVue>
    </v-container>
  </div>
</template>

<script>

import PrintContainerVue from '@/features/prints/components/print/PrintContainer.vue';
import { mapGetters } from 'vuex';

export default {
  components: {
    PrintContainerVue
  },
  data: () => {
    return {
    }
  },
  created: async function() {
    // await this.$store.dispatch('prints/getPrint', this.$route.params.printId);
  },
  computed: {
    ...mapGetters({
      print: 'prints/print',
    }),
  },
}
</script>

<style>

</style>
