<template>
  <v-card-actions class="dark-background">
    <v-btn block large color="info">View</v-btn>
    <v-btn block large color="error">remove</v-btn>
  </v-card-actions>
</template>

<script>
export default {

}
</script>

<style scoped>
 .dark-background {
    color: white;
    background-color: #263238;
  }

</style>
