<template>
  <v-card-title class="dark-background">
    <v-container  ma-0 pa-0>
      <v-layout row>
        <v-flex xs12 pb-0>
          <h1 class="print-title">{{print.title}}</h1>
        </v-flex>
      </v-layout>
      <v-layout row class="sub-info">
        <v-flex xs8>
          <h2 class="">{{print.artist.name}}</h2>
        </v-flex>
        <v-flex xs4 class="text-xs-right">
          <h2 class="">2018</h2>
        </v-flex>
        </v-layout>
    </v-container>
  </v-card-title>
</template>

<script>
export default {
  props: ['print']
}
</script>

<style scoped>
  .sub-info{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }

  .print-title {
    font-size: 30px;
  }

  .dark-background {
    color: white;
    background-color: #263238;
  }



</style>
