<template>
    <v-card raised max-width="30rem">
        <PrintImageVue :picture="print.picture"></PrintImageVue>
        <PrintInfoVue :print="print"></PrintInfoVue>
        <PrintCollectionActionsVue v-if="action === 'collection'"></PrintCollectionActionsVue>
        <PrintBrowseActionsVue v-else-if="action === 'browse'" :id="print.id" :title="print.title" :edition="print.edition"></PrintBrowseActionsVue>
    </v-card>
</template>

<script>

import PrintImageVue from '@/components/print/PrintImage.vue';
import PrintInfoVue from '@/components/print/PrintInfo.vue';
import PrintCollectionActionsVue from '@/components/print/PrintCollectionActions.vue';
import PrintBrowseActionsVue from '@/components/print/PrintBrowseActions.vue';


export default {
    props:['action', 'print'],
    components: {
        PrintImageVue,
        PrintInfoVue,
        PrintCollectionActionsVue,
        PrintBrowseActionsVue,
    },
}
</script>

<style scoped>

</style>
