<template>
  <v-img
    :src="picture"
    max-height="100rem"
    max-width="30rem"
    min-width="30rem"
    aspect-raio="2.75"
  ></v-img>
</template>

<script>
export default {
  props: ['picture']

}
</script>

<style scoped>

</style>
