<template>
  <v-card-actions class="dark-background">
    <v-btn block large color="info" :to="'prints/'+id">View</v-btn>
    <v-btn large dark color="cyan">
      <v-icon dark>cloud</v-icon>
    </v-btn>
    <AddToCollectionButtonVue :id="id" :title="title" :edition="edition"></AddToCollectionButtonVue>
  </v-card-actions>
</template>

<script>

import AddToCollectionButtonVue from '@/components/print/buttons/AddToCollectionButton.vue';

export default {
  props: ['id', 'title', 'edition'],
  components: {
    AddToCollectionButtonVue
  }
}
</script>

<style scoped>
 .dark-background {
    color: white;
    background-color: #263238;
  }

</style>
