<template>
  <v-container fluid>
    <AddPrintContainerVue></AddPrintContainerVue>
  </v-container>
</template>

<script>

import AddPrintContainerVue from '@/features/addPrint/components/AddPrintContainer.vue';

export default {
  components: {
    AddPrintContainerVue
  },
  mounted: function () {
    this.$store.dispatch('nav/changePageTitle', 'Submit');
  },
}
</script>

<style scoped>

</style>
