<template>
  <div>
    <v-container grid-list-xl fluid>
      <ArtistsContainer></ArtistsContainer>
    </v-container>
  </div> 
</template>

<script>

import ArtistsContainer from "@/features/artists/components/ArtistsContainer.vue";

export default {
  components: {
    ArtistsContainer,
  },
  mounted: function () {
    this.$store.dispatch('nav/changePageTitle', 'Artists');
  },

}
</script>

<style scoped>

</style>
