<template>
  <v-btn large dark @click="addToCollection" :loading="loading" color="success">
    <v-icon dark>add</v-icon> 
  </v-btn>
</template>

<script>

import { mapGetters } from 'vuex';
import { Message } from 'element-ui';

export default {
  props: ['id', 'title', 'edition'],
  data: function () {
    return {
      loading: false,
    }
  },
  computed: {
    ...mapGetters({
      user: 'auth/user',
    }),
  },
  methods: {
    async addToCollection () {

      this.$message({
        message: `Successfully added ${this.title} (${this.edition}) to your collection.`,
        type: 'success'
      });

      // this.loading = true;
      
      // console.log(this.user);

      // let params = {
      //   printId: this.printId,
      //   userId: this.user.id,
      // }

      // console.log(params);

      // console.log('yooo');
      // console.log(this.printId);
    }
  }
}
</script>

<style>

</style>
