<template>
  <EditContainerVue></EditContainerVue>
</template>

<script>

import EditContainerVue from '@/features/profile/components/edit/EditContainer.vue';

export default {
  components : {
    EditContainerVue
  },
}
</script>

<style scoped>

</style>
