<template>
  <div>
    <v-container fluid grid-list-xl>
      <CollectionContainerVue></CollectionContainerVue>
    </v-container>
  </div>
</template>

<script>

import CollectionContainerVue from '@/features/collection/components/CollectionContainer.vue';

export default {
  components: {
    CollectionContainerVue
  },
  mounted: function () {
    this.$store.dispatch('nav/changePageTitle', 'Collection');
  },

}
</script>

<style scoped>

</style>
