<template>
    <span class="header">{{pageTitle}}</span>
</template>

<script>

import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      pageTitle: 'nav/pageTitle',
  }),
}

}
</script>

<style scoped>
  .header{
    padding-left: 5rem;
    border-bottom: 5px solid black;
    border-top-left-radius: 70%;
    font-size: 300%
  }

</style>
