<template>
  <v-layout row align-center style="max-width: 600px">
    <v-text-field
      placeholder="Search..."
      single-line
      append-icon="search"
      color="white"
    ></v-text-field>
  </v-layout>
</template>

<script>
export default {
  
}
</script>

<style scoped>

</style>
