<template>
<!-- extended extension-height="60" -->
  <v-toolbar flat class="transparent" dense>
    <v-spacer></v-spacer>
    <SearchBarVue></SearchBarVue>
    <UserAvatarVue></UserAvatarVue>
  </v-toolbar>
</template>

<script>

import SearchBarVue from '@/features/navigation/navbar/components/SearchBar.vue';
import UserAvatarVue from '@/features/navigation/navbar/components/UserAvatar.vue';
import PageHeaderVue from '@/features/navigation/navbar/components/PageHeader.vue';


export default {
  components: {
    SearchBarVue,
    UserAvatarVue,
    PageHeaderVue,
  },

}
</script>

<style scoped>

</style>
