<template>
  <section>
    <v-layout align-end justify-start row wrap>
      <v-flex xs3 v-for="n in 6" :key=n>
        <PrintContainerVue action="collection"></PrintContainerVue>
      </v-flex>
    </v-layout>
  </section>
</template>

<script>

import PrintContainerVue from '@/components/print/PrintContainer.vue';

export default {
  data: function () {
    return {
      prints: [
        {
          id: '1',
          title: 'guardians of the galaxy',
          artistId: '1',
          vendorId: '3',
          pictureUrl: '',
          editionSize: '250',
          technique: 'screen print',
          manufacture: 'Static Medium',
          originalPrice: '55',
          releaseDate: '2018/05/13',
          height: '36',
          width: '24',
          status: 'official'
        },
        {
          id: '2',
          title: 'guardians of the galaxy vol 2',
          artistId: '1',
          vendorId: '3',
          pictureUrl: '',
          editionSize: '250',
          technique: 'screen print',
          manufacture: 'Static Medium',
          originalPrice: '55',
          releaseDate: '2018/05/13',
          height: '36',
          width: '24',
          status: 'official'
        },
        {
          id: '3',
          artistId: '1',
          vendorId: '3',
          pictureUrl: '',
          editionSize: '250',
          technique: 'screen print',
          manufacture: 'Static Medium',
          originalPrice: '55',
          releaseDate: '2018/05/13',
          height: '36',
          width: '24',
          status: 'official'
        },
        {
          id: '3',
          title: 'Spider Man: Homecoming',
          artistId: '1',
          vendorId: '3',
          pictureUrl: '',
          editionSize: '250',
          technique: 'screen print',
          manufacture: 'Static Medium',
          originalPrice: '55',
          releaseDate: '2018/05/13',
          height: '36',
          width: '24',
          status: 'official'
        },
        {
          id: '4',
          title: 'Captain America: Civil War',
          artistId: '1',
          vendorId: '3',
          pictureUrl: '',
          editionSize: '250',
          technique: 'screen print',
          manufacture: 'Static Medium',
          originalPrice: '55',
          releaseDate: '2018/05/13',
          height: '36',
          width: '24',
          status: 'official'
        }
      ]

    }
  },
  components: {
    PrintContainerVue,
  }

}
</script>

<style scoped>

</style>





