<template>
  <v-toolbar flat class="transparent" dense>
    <v-list class="pa-0">
      <v-list-tile>
        <v-list-tile-action>
          <v-icon x-large color="blue lighten-1">invert_colors</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>
            <h4 v-text="appName"></h4>
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-toolbar>
</template>

<script>
export default {
  data: function () {
    return {
      appName: 'LIMITED PAPER'
    }
  },
}
</script>
