<template>
    <v-toolbar flat class="transparent" dense slot="activator">
        <v-list class="pa-0">
            <v-list-tile to="/dashboard" exact active-class="blue lighten1">
                <v-list-tile-action>
                    <v-icon>dashboard</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title class="menu-font">Dashboard</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-toolbar>
</template>

<script>
export default {
  data: function () {
    return {
    }
  },
  methods: {
  }

}
</script>

<style>
    .menu-font{
        font-size: 130%;
    }
</style>
