<template>
  <v-list class="no-padding">
        <v-list-tile
          v-for="item in menuItems"
          :key="item.icon"
          :to="item.link"
          active-class="blue lighten-1"
        >
          <v-list-tile-action>
              <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
              <v-list-tile-title class="menu-font" v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
  </v-list>
</template>

<script>
export default {
  data: function (){
    return {
      menuItems: [
        {
          icon: 'add_to_photos',
          title: 'Submit Print',
          link: '/add-print'
        },
        {
          icon: 'image_search',
          title: 'Browse Prints',
          link: '/prints'
        },
        {
          icon: 'create',
          title: 'Artists',
          link: '/artists'
        },
        {
          icon: 'store',
          title: 'Vendors',
          link: '/vendors'
        }
      ],
    }
  }

}
</script>

<style>
  .menu-font{
    font-size: 130%;
  }

  .no-padding{
    padding:0!important;
  }
</style>