<template>
  <!-- :mini-variant="miniVariant"
                :value="drawer" -->
    <v-navigation-drawer
                width="235"
                class="blue-grey darken-4"
                dark
                persistent
                fixed
                app
    >
    <BrandSecitonVue></BrandSecitonVue>
    <v-divider></v-divider>
    <DashboardSectionVue></DashboardSectionVue>
    <v-divider></v-divider>
    <UserSectionVue></UserSectionVue>
    <v-divider></v-divider>
    <MenuSectionVue></MenuSectionVue>
   </v-navigation-drawer>
</template>

<script>

import BrandSecitonVue from '@/features/navigation/sidebar/components/BrandSection.vue';
import DashboardSectionVue from '@/features/navigation/sidebar/components/DashboardSection.vue';
import UserSectionVue from '@/features/navigation/sidebar/components/UserSection.vue';
import MenuSectionVue from '@/features/navigation/sidebar/components/MenuSection.vue';

export default {
  name: 'NavigationDrawer',
  props: ['miniVariant', 'drawer'],
  components: {
    BrandSecitonVue,
    DashboardSectionVue,
    UserSectionVue,
    MenuSectionVue,
  },
};
</script>

<style>

</style>
