<template>
  <v-list class="no-padding">
        <v-list-tile
            v-for="item in userItems"
                :key="item.icon"
                :to="item.link"
                active-class="blue lighten-1"
        >
          <v-list-tile-action>
              <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
              <v-list-tile-title class="menu-font" v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
  </v-list>
</template>

<script>
export default {
  data: function (){
    return {
      userItems: [
        {
            icon: 'view_week',
            title: 'Collection',
            link: '/collection'
        },
        {
            icon: 'list_alt',
            title: 'Wish List',
            link: '/wishlist'
        },
        {
            icon: 'person',
            title: 'Profile',
            link: '/profile'
        }
      ],
    }
  }

}
</script>

<style>
  .menu-font{
    font-size: 130%;
  }

  .no-padding{
    padding:0!important;
  }

</style>
