<template>
  <v-app>
    
    <NavbarContainerVue></NavbarContainerVue>
    <SidebarContainerVue></SidebarContainerVue>
    <v-content>
      <transition>
        <keep-alive>
          <router-view></router-view>
        </keep-alive>
      </transition>
    </v-content>
  </v-app>
</template>

<script>

import SidebarContainerVue from '@/features/navigation/sidebar/SidebarContainer.vue';
import NavbarContainerVue from '@/features/navigation/navbar/NavbarContainer.vue';


export default {
  components: {
    SidebarContainerVue,
    NavbarContainerVue,
  },
};


</script>
