<template>
  <v-content style="background-color:#2A3854;">
    <v-toolbar color="#192130" dark>
      <v-toolbar-title><h1>LIMITED PAPER <v-icon large="">invert_colors</v-icon></h1></v-toolbar-title>
    </v-toolbar>

      <div>
        {{errors}}
      </div>
      <v-container fluid >
        <v-layout justify-space-around row fill-height wrap mt-5>

          <v-flex md4 mb-4>
            <v-card pa-1 class="elevation-12">
              <v-toolbar dark color="#192130">
                <v-toolbar-title class="headline">For The People</v-toolbar-title>
              </v-toolbar>

               <v-card-text primary-title>
                <div class="icon-text">
                  <v-icon style="margin-right:2rem;" large color="#192130">collections_bookmark</v-icon>
                  <h3>Grow and keep track of your collection online</h3>
                </div>
              </v-card-text>
               <v-card-text primary-title>
                <div class="icon-text">
                  <v-icon style="margin-right:2rem;" large color="#192130">search</v-icon>
                  <h3>Find and discover new prints</h3>
                </div>
              </v-card-text>
               <v-card-text primary-title>
                <div class="icon-text">
                  <v-icon style="margin-right:2rem;" large color="#192130">storage</v-icon>
                  <h3>Contribute to a growing database of your favorite art</h3>
                </div>
              </v-card-text>
            </v-card>
          </v-flex>

          <v-flex md4> 
            <v-tabs color="#192130" max centered grow dark height="60px" >
              <v-tab>Login</v-tab>
              <v-tab  >Register</v-tab>
<!-- Login -->
                <v-tab-item >
                  <v-card class="elevation-12">
                    <div v-if="loginError">
                      <v-card-text>
                        <strong class="err">{{loginError}}<br></strong>
                      </v-card-text>
                    </div>
                    <v-card-text>
                      <v-form ref="loginForm" v-model="loginValid" lazy-validation="">
                        <v-text-field v-model="login.email" :rules="loginRules.email" prepend-icon="person" name="email" label="Email" type="text"></v-text-field>
                        <v-text-field v-model="login.password" :rules="loginRules.password" prepend-icon="lock" name="password" label="Password" id="password" type="password"></v-text-field>
                      </v-form>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="#192130" :loading="loginLoad" dark @click="loginSubmit">Login</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-tab-item>
<!-- Register -->
                <v-tab-item>
                  <v-card class="elevation-12">
                    <div v-if="errors.length !== 0">
                      <v-card-text v-for="(error, index) in errors" :key="index">
                        <strong class="err" v-for="(err, idx) in error" :key="idx">{{err}}<br></strong>
                      </v-card-text>
                    </div>
                    <v-card-text>
                      <v-form ref="registerForm" v-model="registerValid" lazy-validation="">
                        <v-text-field v-model="register.username" :rules="registerRules.username" prepend-icon="person" name="username" label="Username" type="text"></v-text-field>
                        <v-text-field v-model="register.email" :rules="registerRules.email" prepend-icon="email" name="email" label="Email" type="text"></v-text-field>
                        <v-text-field v-model="register.password" :rules="registerRules.password" prepend-icon="lock" name="password" label="Password" type="password"></v-text-field>
                        <v-text-field v-model="register.password_confirmation" :rules="registerRules.password_confirmation" prepend-icon="lock" name="password-confirm" label="Password Confirm" type="password"></v-text-field>
                      </v-form>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="#192130" dark :loading="registerLoad" @click="registerSubmit">Register</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-tab-item>

            </v-tabs>
          </v-flex>

        </v-layout>
      </v-container>
    </v-content>
</template>

<script>

import { mapGetters } from 'vuex';

export default {
  data: () => ({
    loginLoad: false,
    loginValid: true,
    registerLoad: false,
    registerValid: true,
    register: {
      username: "",
      email: "",
      password: "",
      password_confirmation: "",
    },
    login: {
      email: "",
      password: "",
    },
    loginRules: {
        email: [
          v => !!v || 'Email is required',
        ],
        password: [
          v => !!v || 'Password is required',
        ],
      },
    registerRules: {
        username: [
          v => !!v || 'Username is required',
        ],
        email: [
          v => !!v || 'Email is required',
        ],
        password: [
          v => !!v || 'Password is required',
        ],
        password_confirmation: [
          v => !!v || 'Password confirmation is required',
        ],
      },
  }),
   computed: {
    ...mapGetters({
      token: 'auth/token',
      errors: 'auth/errors',
      loginError: 'auth/loginError',
    }),
  },
  methods: {
    async loginSubmit () {

      this.loginLoad = true;
      
      await this.$store.dispatch('auth/login', this.login);
      if(this.token !== null && this.loginError === null){
        this.$router.push('/');
      }else{
        this.loginLoad = false;
      }

    },
    async registerSubmit () {
      if (this.$refs.registerForm.validate()) {

        this.registerLoad = true;

        await this.$store.dispatch('auth/register', this.register);
        if(this.token !== null && this.errors.length === 0){
          this.$router.push('/');
        }else{
          this.registerLoad = false;
        }


      }
    },
  },
}
</script>

<style scoped>
  .icon-text{
    display: flex;
    align-items: center;
  }

</style>
