<template>
  <section>
    <v-layout row v-if="print">
      <v-flex xs5  pr-0 >
        <v-card tile flat >
          <v-card-text class="text-size text-md-left">Title</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs9 pl-0 left-border>
        <v-card  tile flat >
          <v-card-text class="text-size text-md-center" >{{print.title}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
    <v-layout row>
      <v-flex xs5  pr-0 >
        <v-card tile flat >
          <v-card-text class="text-size text-md-left">Edition</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs9 pl-0 left-border>
        <v-card  tile flat >
          <v-card-text class="text-size text-md-center" >{{typeof print.edition === "undefined" || print.edition === null ? 'Not Available' : print.edition}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
    <v-layout row>
      <v-flex xs5  pr-0 >
        <v-card tile flat >
          <v-card-text class="text-size text-md-left">Artist</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs9 pl-0 left-border>
        <v-card  tile flat >
          <v-card-text class="text-size text-md-center" >{{typeof print.artist === "undefined" || print.artist === null ? 'Not Available' : print.artist.name}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
    <v-layout row>
      <v-flex xs5  pr-0 >
        <v-card tile flat >
          <v-card-text class="text-size text-md-left">Edition Size</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs9 pl-0 left-border>
        <v-card  tile flat >
          <v-card-text class="text-size text-md-center" >{{ print.edition_size === null ? 'Not Available' : print.edition_size}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
    <v-layout row>
      <v-flex xs5  pr-0 >
        <v-card tile flat >
          <v-card-text class="text-size text-md-left">Technique</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs9 pl-0 left-border>
        <v-card  tile flat >
          <v-card-text class="text-size text-md-center" >{{typeof print.artist === "undefined" || print.technique === null ? 'Not Available' : print.technique.name}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
    <v-layout row>
      <v-flex xs5  pr-0 >
        <v-card tile flat >
          <v-card-text class="text-size text-md-left">Manufacturer</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs9 pl-0 left-border>
        <v-card  tile flat >
          <v-card-text class="text-size text-md-center" >{{ typeof print.artist === "undefined" || print.manufacturer === null ? 'Not Available' : print.manufacturer.name}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
    <v-layout row>
      <v-flex xs5  pr-0 >
        <v-card tile flat >
          <v-card-text class="text-size text-md-left">Vendor</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs9 pl-0 left-border>
        <v-card  tile flat >
          <v-card-text class="text-size text-md-center" >{{typeof print.vendor === "undefined" || print.vendor === null ? 'Not Available' : print.vendor.name}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
      <v-layout row>
      <v-flex xs5  pr-0 >
        <v-card tile flat >
          <v-card-text class="text-size text-md-left">Original Price</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs9 pl-0 left-border>
        <v-card  tile flat >
          <v-card-text class="text-size text-md-center" >{{ print.original_price === null ? 'Not Available' : print.original_price}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
    <v-layout row>
      <v-flex xs5  pr-0 >
        <v-card tile flat >
          <v-card-text class="text-size text-md-left">Release Date</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs9 pl-0 left-border>
        <v-card  tile flat >
          <v-card-text class="text-size text-md-center" >{{ print.release_date === null ? 'Not Available' : print.release_date}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
    <v-layout row>
      <v-flex xs5  pr-0 >
        <v-card tile flat >
          <v-card-text class="text-size text-md-left">Size</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs9 pl-0 left-border>
        <v-card  tile flat >
          <v-card-text class="text-size text-md-center" >{{ print.width === null && print.height === null  ? 'Not Available' : print.width +" X "+ print.height }}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
    <v-layout row>
      <v-flex xs5  pr-0 >
        <v-card tile flat >
          <v-card-text class="text-size text-md-left">Status</v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs9 pl-0 left-border>
        <v-card  tile flat >
          <v-card-text class="text-size text-md-center" >{{ print.status === null ? 'Not Available' : print.status}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
  </section>
</template>

<script>
export default {
  props: ['print'],
  data: function() {
    return {
      headers: ['Title', 'Edition', 'Artist', 'Edition Size', 'Technique',
      'Manufacturer', 'Vendor', 'Original Price', 'Release Date', 'Size', 'Status']
    }
  }

}
</script>

<style scoped>
  .list-container {
    padding:0;
  }

  .left-border {
    border-left: 1px solid lightgray;
  }

  .text-size {
    font-size: 170%;
    font-weight: 500
  }

</style>
