<template>
  <v-card>
    <v-toolbar color="blue-grey" dark>
      <v-toolbar-title><h1>Details</h1></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn dark color="cyan">
       <v-icon dark>cloud</v-icon> 
      </v-btn>
      <v-btn dark color="success">
        <v-icon dark>add</v-icon> 
      </v-btn>
    </v-toolbar>

    <v-container class="list-container">
      <PrintDetailsFieldsVue :print="print"></PrintDetailsFieldsVue>
    </v-container>
  </v-card>
</template>

<script>

import PrintDetailsFieldsVue from '@/features/prints/components/print/components/PrintDetailsFields.vue';

export default {
  props: ['print'],
  components: {
    PrintDetailsFieldsVue
  }

}
</script>

<style scoped>
  .list-container {
    padding:0;
  }

  .text-size {
    font-size: 160%;
  }

</style>
