<template>
  <section>
    <v-toolbar color="blue-grey" dark>
      <v-toolbar-title><h1>Sales</h1></v-toolbar-title>
      <v-spacer></v-spacer>
      coming soon
    </v-toolbar>
  </section>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>
