<template>
  <v-card max-width="50rem" min-width="20rem" raised>
      <!-- max-height="200rem" -->
      <!-- max-width="50rem" -->
    <v-img
      :src="picture"
      contain=true
    ></v-img>
  </v-card>
</template>

<script>
export default {
  props: ['picture'],
};
</script>

<style scoped>

</style>
