<template>
  <v-layout justify-space-around row :wrap="true">
    <v-flex  md5 mb-4>
      <v-card pa-1 v-if="errors.length !== 0">
        <v-toolbar dark color="blue-grey darken-3" dense>
          <v-toolbar-title>Errors</v-toolbar-title>
        </v-toolbar>
         <v-card-text v-for="(error, index) in errors" :key="index">
          <strong class="err" v-for="(err, idx) in error" :key="idx">{{err}}<br></strong>
        </v-card-text>

      </v-card>
      <v-card pa-1>
        <v-toolbar dark color="blue-grey darken-3" dense>
          <v-toolbar-title>Disclaimer</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <strong>Please be sure to see if the print is already in the collection before attempting to submit it.</strong>
        </v-card-text>
        <v-card-text>
          <strong>Title - </strong><span>Title of the print to be submitted.</span>
        </v-card-text>
        <v-card-text>
          <strong>Edition - </strong><span>Edition of the print being that its regular, vairant, metal variant, AP, AP variant.</span>
        </v-card-text>
        <v-card-text>
          <strong>Artist - </strong><span>Name of the artist that made the print. If artist is not provided on the populated list, please provide the full name of the new artist you wish to add.</span>
        </v-card-text>
        <v-card-text>
          <strong>Vendor - </strong><span>Place the print was sold from. If sold by him or her self, then please select Artist option.</span>
        </v-card-text>
        <v-card-text>
          <strong>Edition Size - </strong><span>The total amount that was printed. If timed edition, then just put 'Timed Edition'.</span>
        </v-card-text>
        <v-card-text>
          <strong>Technique - </strong><span>Title of the print to be submitted.</span>
        </v-card-text>
        <v-card-text>
          <strong>Manufacturer - </strong><span>Company produced the print.</span>
        </v-card-text>
        <v-card-text>
          <strong>Original Price - </strong><span>Price of which the art was sold at. If dont know, put 0.</span>
        </v-card-text>
        <v-card-text>
          <strong>Released Date - </strong><span>Date the print was released.</span>
        </v-card-text>
        <v-card-text>
          <strong>Width - </strong><span>Width of print in inches.</span>
        </v-card-text>
        <v-card-text>
          <strong>Height - </strong><span>Height of print in inches.</span>
        </v-card-text>
        <v-card-text>
          <strong>Status - </strong><span>Status of the print, meaning is it officially licensed(Official), is it a original peice by the artist(Original), or is it a 
            fan art done by an artist(Fan Art).</span>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex md5>
      <v-card>
        <v-toolbar dark color="blue-grey darken-3" dense>
          <v-toolbar-title>Submit Print</v-toolbar-title>
        </v-toolbar>
        <v-form class="form-spacing" ref="form" v-model="valid" lazy-validation>
          <v-text-field
            label="Title"
            v-model="print.title"
            hint="Blade Runner 2049"
            :rules="rules.title"
            required
          ></v-text-field>
          <v-text-field
            label="Edition"
            v-model="print.edition"
            hint="Regular, Variant, Metal Variant, Timed"
            :rules="rules.edition"
            required
          ></v-text-field>
          <v-select
            label="Artist"
            required
            v-model="print.artist"
            :rules="rules.artist"
            :items="artists"
          ></v-select>
          <v-text-field
            class="pl-4"
            v-if="print.artist === 'new'"
            label="New Artist Full Name"
            :rules="rules.newArtistName"
            required
            hint="Jock"
            v-model="print.newArtist.name"
          ></v-text-field>
          <v-select
            label="Vendor"
            v-model="print.vendor"
            :rules="rules.vendor"
            required
            :items="vendors"
          ></v-select>
          <v-text-field
            class="pl-4"
            v-if="print.vendor === 'new'"
            label="New Vendor Name"
            :rules="rules.newVendorName"
            v-model="print.newVendor.name"
            hint="Static Medium"
            required
          ></v-text-field>
          <v-text-field
            class="pl-4"
            v-if="print.vendor === 'new'"
            label="Year Established"
            :rules="rules.newVendorYear"
            v-model="print.newVendor.year"
            hint="2018"
            required
          ></v-text-field>
          <v-text-field
            class="pl-4"
            v-if="print.vendor === 'new'"
            label="Location"
            :rules="rules.newVendorLocation"
            v-model="print.newVendor.location"
            required
          ></v-text-field>
          <v-text-field
            label="Edition Size"
            v-model="print.editionSize"
            :rules="rules.editionSize"
            hint="250"
            required
          ></v-text-field>
          <v-select
            label="Technique"
            v-model="print.technique"
            required
            :rules="rules.technique"
            :items="techniques"
          ></v-select>
          <v-text-field
            class="pl-4"
            v-if="print.technique === 'new'"
            label="New Technique Name"
            :rules="rules.newTechniqueName"
            v-model="print.newTechnique.name"
            hint="Screen Print"
            required
          ></v-text-field>
          <v-select
            label="Manufacturer"
            v-model="print.manufacturer"
            required
            :rules="rules.manufacturer"
            :items="manufacturers"
          ></v-select>
          <v-text-field
            class="pl-4"
            v-if="print.manufacturer === 'new'"
            label="New Manufacturer Name"
            :rules="rules.newManufacturerName"
            v-model="print.newManufacturer.name"
            hint="Static Medium"
            required
          ></v-text-field>
          <v-text-field
            label="Original Price"
            v-model="print.originalPrice"
            :rules="rules.originalPrice"
            required
          ></v-text-field>
          <v-container fluid pa-0 ma-0>
            <v-layout row>
              <v-flex xs12>
                <v-menu
                  ref="menu1"
                  :close-on-content-click="false"
                  v-model="menu1"
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >
                  <v-text-field
                    slot="activator"
                    :rules="rules.date"
                    v-model="dateFormatted"
                    label="Release Date"
                    @blur="date = parseDate(dateFormatted)"
                  ></v-text-field>
                  <v-date-picker v-model="date" no-title @input="menu1 = false"></v-date-picker>
                </v-menu>
              </v-flex>
            </v-layout>
          </v-container>
          <v-text-field
            label="Width"
            v-model="print.width"
            :rules="rules.width"
            required
          ></v-text-field>
          <v-text-field
            label="Height"
            v-model="print.height"
            :rules="rules.height"
            required
          ></v-text-field>
          <v-select
            label="Status"
            v-model="print.status"
            :rules="rules.status"
            required
            :items="statuses"
          ></v-select>

          <div class="text-md-right">
            <v-btn color="blue-grey" @click="clear">clear</v-btn>
            <v-btn :loading="loading" color="blue-grey" @click="submit">submit</v-btn>
          </div>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>  
</template>

<script>

import { mapGetters } from 'vuex';

export default {
  created : async function () {
    await this.getArtists();
    await this.getVendors();
    await this.getTechniques();
    await this.getManufacturers();
  },
  data: function () {
    return {
      loading: false,
      valid: true,
      statuses: ['Official', 'Original', 'Fan Art'],
      date: new Date().toISOString().substr(0, 10),
      dateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
      menu1: false,
      rules: {
        title: [
          v => !!v || 'Title is required',
        ],
        edition: [
          v => !!v || 'Edition is required',
          v => v.match(/(?:^|\s)(edition)(?=|$)/i) === null || "Please don't include the word 'Edition'"
          //TODO: need better regex
        ],
        artist: [
          v => !!v || 'Artist is required',
        ],
        newArtistName: [
          v => this.newItemCheck(v, 'artist') || 'New Artist Name is required'
        ],
        vendor: [
          v => !!v || 'Vendor is required',
        ],
        newVendorName: [
          v => this.newItemCheck(v, 'vendor') || 'New Vendor name is required'
        ],
        newVendorYear: [
          v => this.newItemCheck(v, 'vendor') || 'Year established is required'
        ],
        newVendorLocation: [
          v => this.newItemCheck(v, 'vendor') || 'Location is required'
        ],
        editionSize : [
          v => !!v || 'Edition Size is required',
          v => this.editionSizeCheck(v) || "Must be whole number or be 'Timed Edition'",
        ],
        date: [
          v => !!v || 'Date is required',
        ],
        technique: [
          v => !!v || 'Technique is required',
        ],
        newTechniqueName: [
          v => this.newItemCheck(v, 'technique') || 'New Technique Name is required'
        ],
        manufacturer: [
          v => !!v || 'Manufacturer is required'
        ],
        newManufacturerName: [
          v => this.newItemCheck(v, 'manufacturer') || 'New Manufacturer Name is required'
        ],
        originalPrice: [
          v => !!v || 'Original Price is required',
          v => !isNaN(v) || 'Must be whole number'
        ],
        width: [
          v => !!v || 'Width is required',
          v => !isNaN(v) || 'Must be whole number'
        ],
        height: [
          v => !!v || 'Height is required',
          v => !isNaN(v) || 'Must be whole number'
        ],
        status: [
          v => !!v || 'Status is required'
        ]
      },
      print: {
        title: "",
        edition: "",
        artist: "",
        newArtist: {
          name: ""
        },
        vendor: "",
        newVendor: {
          name: "",
          year: "",
          location: ""
        },
        editionSize: "",
        technique: "",
        newTechnique: {
          name: ""
        },
        manufacturer: "",
        newManufacturer: {
          name: ""
        },
        originalPrice: "",
        width: "",
        height: "",
        status: "",
      }
    }
  },
  computed: {
    computedDateFormatted () {
      return this.formatDate(this.date)
    },
    ...mapGetters({
      artists: 'addPrint/artists',
      vendors: 'addPrint/vendors',
      techniques: 'addPrint/techniques',
      manufacturers: 'addPrint/manufacturers',
      errors: 'addPrint/errors',
    }),
  },
  watch: {
    date (val) {
      this.dateFormatted = this.formatDate(this.date)
    }
  },
  methods : {
    async getArtists () {
      await this.$store.dispatch('addPrint/getArtists');
    },
    async getVendors () {
      await this.$store.dispatch('addPrint/getVendors');
    },
    async getTechniques () {
      await this.$store.dispatch('addPrint/getTechniques');
    },
    async getManufacturers () {
      await this.$store.dispatch('addPrint/getManufacturers');
    },
    async submit () {
      if (this.$refs.form.validate()) {
        this.loading = true;

        let print = this.print;
        print.date = this.dateFormatted;

        await this.$store.dispatch('addPrint/submit', print);

        if(this.errors.length === 0){
          this.clear();
        }
        this.loading = false;
      }
    },
    clear () {
      this.$refs.form.reset();
    },
    formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${month}/${day}/${year}`
      },
    parseDate (date) {
      if (!date) return null

      const [month, day, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },
    newItemCheck(value, prop) {
      if(this.print[prop] !== 'new') {
        return true;
      }

      return !!value ? true : false;
    },
    editionSizeCheck(value) {

      value = value.trim().toLowerCase();
      let flag = false;

      if(value === 'timed edition') {
        flag = true;
      }
    
      if(!isNaN(value)) {
        flag = true;
      }

      return flag;

    },
    editionWord(value) {
      return str.match('(?i)(?<= |^)rum(?= |$))') ? false : true;
    }
  }

}
</script>

<style scoped>
  .form-spacing{
    padding:1rem;
  }

  .err{
    color: rgba(255, 0, 0, 0.591);
    font-size: 130%;
  }


</style>