<template>
  <div class="form">
    <v-form>
      <v-text-field
      v-model="user.firstName"
      label="First Name"
      value="luke"
      required
    ></v-text-field>
    <v-text-field
      v-model="user.lastName"
      label="Last Name"
      required
    ></v-text-field>
    <v-text-field
      v-model="user.email"
      label="Email"
      required
    ></v-text-field>
    </v-form>
    <div class="text-md-right">
      <v-btn >submit</v-btn>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      user: {
        firstName: 'luke',
        lastName: 'skywalker',
        email: 'test@gmail.com',
      }
    }
  }

}
</script>

<style scoped>
  .form {
    /* padding-right: 20rem; */
    
  }

</style>
