<template>
  <section id="scroll-target">
    <v-layout v-if="prints" align-end justify-start row wrap>
      <v-flex xl3 v-for="print in prints" :key=print.id>
        <PrintContainerVue :print="print" action="browse"></PrintContainerVue>
      </v-flex>
    </v-layout>
    <v-layout v-else align-end justify-start row wrap>
        loading..
    </v-layout>
    <div class="text-lg-center mt-5 mb-5">
      <v-pagination
        v-scroll:#scroll-target="onClick"
        dark
        :length="totalPages"
        :total-visible="10"
        :value="browsePage"
        @input="next"
      ></v-pagination>
    </div>
  </section>
</template>

<script>

import PrintContainerVue from '@/components/print/PrintContainer.vue';
import { mapGetters } from 'vuex';

export default {
  components: {
    PrintContainerVue
  },
  data: () => {
    return {
    }
  },
  created() {
    this.$store.dispatch('prints/setBrowsePage', this.browsePage);
  },
  computed: {
    ...mapGetters({
      prints: 'prints/prints',
      totalPages: 'prints/totalPages',
      page: 'prints/page',
      browsePage: 'prints/browsePage',
    }),
  },
  methods: {
    next(page) {
      this.$store.dispatch('prints/setBrowsePage', page);
    }
  }
}
</script>

<style scoped>

</style>
