<template>
  <section>
    <section>
      <v-layout align-start justify-space-between row wrap>
        <v-flex  xl6>
          <PrintPictureVue :picture="print.picture"></PrintPictureVue>
        </v-flex>
        <v-flex xl4>
          <PrintDetailsVue :print="print"></PrintDetailsVue>
        </v-flex>
      </v-layout>
    </section>

    <v-layout row mt-5>
      <v-flex>
        <PrintSalesVue></PrintSalesVue>
      </v-flex>
    </v-layout>
  </section>
</template>

<script>

import PrintPictureVue from '@/features/prints/components/print/components/PrintPicture.vue';
import PrintDetailsVue from '@/features/prints/components/print/components/PrintDetails.vue';
import PrintSalesVue from '@/features/prints/components/print/components/PrintSales.vue';

export default {
  props: ['print'],
  components: {
    PrintPictureVue,
    PrintDetailsVue,
    PrintSalesVue,
  },
}
</script>

<style scoped>

</style>
