<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>

<script>

// import ApplicationContainerVue from '@/features/ApplicationContainer.vue';

export default {
  components: {
    // ApplicationContainerVue,
  },
};


</script>


<style lang="scss">
  .white{
    background-color: white!important;
  }
</style>
