<template>
  <div>
    <v-layout row wrap ml-5>
      <v-flex xs3 v-for="(artist, index) in artists" :key="artist.name">
        <v-card hover width="10.7rem">
          <AvatarVue
            :username="artist.name"
            :background-color="colors[index]"
            :size="150"
            :rounded="false"
            color="#fff">
          </AvatarVue>
          <v-card-text class="font" p-0 m-0>{{artist.name}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>

import AvatarVue from 'vue-avatar'


export default {
  components: {
    AvatarVue
  },
  data: function () {
    return {
      artists: [
        {name: "Jock"}, {name: "Rory Kurtz"} , {name: "kako"}, {name: "Mike mitchell"}, {name: "Tom Whalen"}
      ],
      colors: [
        "#1abc9c", "#2ecc71", "#3498db", "#9b59b6", "#34495e", "#16a085", "#27ae60", "#2980b9", "#8e44ad", "#2c3e50", 
        "#f1c40f", "#e67e22", "#e74c3c", "#ecf0f1", "#95a5a6", "#f39c12", "#d35400", "#c0392b", "#bdc3c7", "#7f8c8d"
      ],
    }
  },
}
</script>

<style scoped>
  .font{
    border-top: 4px solid black;
    font-weight: bolder;
    font-size: 140%;
    padding-top: 0;
    padding-bottom: 0;
  }

</style>
